.demo-wrapper .container {
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

.demo-wrapper h1 {
  font-size: 48px;
  text-align: center;
}

.demo-wrapper .status {
  text-align: center;
  color: #919191;
}

.demo-wrapper .video-container {
  margin-top: 20px;
  text-align: center;
}