<div class="create-page-wrapper">
  <div class="container">
    <h1>Make your own</h1>
    <div class="status">{{message}}</div>
    <form ng-show="connectionEstablished">
      <span>Video File: </span>
      <input id="newvid" type="file" accept="video/*">
      <input id="Process" type="button" value="Process" ng-click="processVideo()">
    </form>

    <div class="video-container" ng-show="hrtReady"> 
      <video controls id="hrt-player">
        <source type="video/mp4">
        <source type="video/webm">
        <source type="video/ogg">
        Video format not supported
      </video> 
      <div>
        <button ng-click="setup()">Reset Connection</button>
      </div> 
    </div>

    <div class="instruction-container">
      <h2>Instructions</h2>
      <div class="instruction">
      1. Only Chrome is currently supported. Make sure you have set up connection to the bridge. </br>
      2. Select a video from your local directory. (Only mp4, webm, ogg are currently supported)</br> 
      3. Click "Process", and wait for the video to be processed. This could take a while.</br>
      4. A video will appear when processing completes. Hit Play and enjoy!</br>
      </div>
    </div>

    <div class="video-container" ng-show="false">
      <video controls id="vidprocessor">
        <source type="video/mp4">
        <source type="video/webm">
        <source type="video/ogg">
        Video format not supported
      </video> 
    </div>
  </div>
</div>
